@import '~bootstrap/scss/bootstrap';

$white: #fff;
$red: #f00;
$burn-yellow: #3d3b36;

body {
  background-color: $burn-yellow;
  color: $white;
  font-family: 'Montserrat', sans-serif;
}

.logo-image {
  max-width: 80%;
}

// p {
//   color: $white;
// }
//
// h1 { color: $white; }
// h3 { color: $white; }

.index-content > a > article > h3 {
  color: $white;
}

.index-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

.index-content > a {
  // border: 1px solid $red;
  display: block;
  margin: 2rem;
  width: 42%;
}

// .index-content > a > article {
//   color: $white;
// }

// Home Image

.index-content > a > article > img {
  // height: 100px;
  max-width: 100%;
}

// ////Article
.lit-article {
  align-items: center;
  // border: 2px solid $red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.title {
  font-weight: bold;
  margin-bottom: 1.2rem;
  text-align: center;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro {
  max-width: auto;
}

.tn {
  max-width: 100%;
}

.body > img {
  display: block;
  margin: auto;
  max-width: 85%;
}

.body > p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}

.body > h2 {
  margin-bottom: .75rem;
}

@media only screen and (max-width: 700px) {
  .logo-image {
    max-width: 60%;
  }

  .index-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
  }

  .index-content > a {
    // border: 2px solid $red;
    // display: block;
    margin: .5rem;
    margin-bottom: 2.5rem;
    width: 98%;
  }

  .index-content > a > article > h3 {
    font-size: 1.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .body > p {
    font-size: 1.2rem;
    margin-bottom: .75rem;
    margin-top: .25rem;
  }

  .body > img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}
